/* Make dropdown open upwards, while keeping all other attributes the same */
.dropUp .Select-menu-outer {
    top: 0;
     -webkit-transform: translateY(3px) translateY(-100%);
     transform: translateY(3px) translateY(-100%);
     border-top-right-radius: 4px;
     border-top-left-radius: 4px;
     border-bottom-right-radius: 0px;
     border-bottom-left-radius: 0px;
     border: 1px solid #ccc;
     border-bottom: none;
}

/* Recolor slider with HS style colors */
.rc-slider-track {
    background-color: #0071bc;
}

.rc-slider-handle-click-focused:focus,
.rc-slider-handle:hover,
.rc-slider-dot-active {
    border-color: #0071bc;
}

.rc-slider-handle {
    border: solid 2px #0071bc;
}